Repository brianneisler/moltres: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier-staged, npm run lint-staged, npm run docs-generate

.lintstagedrc.json:

{
  "*.{json,css,md}": ["npm run prettier-staged"],
  "*.{js,jsx,ts,tsx}": ["npm run lint-staged", "npm run docs-generate"]
}

Update docs
  docs/API.md
Due: npm run prettier-staged

Switch from Travis to Semaphore for CI
  .npmignore
  .semaphore/publish-package.yml
  .semaphore/semaphore.yml
  .travis.yml
  package.json
  scripts/deploy.sh
Due: npm run prettier-staged

Fix lint issues
  .semaphore/semaphore.yml
  src/fs/index.test.js
  src/fs/util/index.test.js
  src/index.test.js
Due: npm run lint-staged, npm run docs-generate

Fix bug in createDiff. Add more tests for applyDiff and createDiff
  src/lang/applyDiff.test.js
  src/lang/createDiff.js
  src/lang/createDiff.test.js
Due: npm run lint-staged, npm run docs-generate

Release v0.5.12
  docs/API.md
  package-lock.json
  package.json
Due: npm run prettier-staged

Update changelog
  CHANGELOG.md
Due: npm run prettier-staged

Add missing path to publish command
  scripts/deploy.sh
Due: none

Add missing exports
  src/lang/index.js
Due: npm run lint-staged, npm run docs-generate

Add missing exports from request folder
  src/request/index.js
Due: npm run lint-staged, npm run docs-generate
